@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body,
#root {
  height: 100vh;
  background-color: #090b16;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  @apply mx-auto max-w-[1252px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
}

.player-name {
  @apply bg-slate-800 p-2 rounded-xl my-2;
}

.rpg-cover-wrapper {
  margin-top: -250px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.rpg-cover-img {
  object-position: 50% 50%;
  bottom: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.radial-gradient-cover {
  background: radial-gradient(
    circle at 50% 45%,
    rgba(9, 255, 255, 0) 0%,
    rgba(9, 11, 22, 0.5) 10%,
    rgba(9, 11, 22, 1) 65%
  );
}

.vertical-gradient {
  background: rgb(9, 11, 22);
  background: linear-gradient(
    0deg,
    rgba(9, 11, 22, 1) 10%,
    rgba(9, 11, 22, 0) 50%,
    rgba(9, 11, 22, 1) 90%
  );
}

.nested {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#system-list {
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* grow hover effect */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.custom-outline {
  @apply focus:outline focus:outline-2 focus:outline-yellow-400 outline-offset-4;
}

/* Search and Header modal fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fadeInDown {
  animation: fadeInDown 0.5s ease-in-out forwards;
}

.animate-fadeOutUp {
  animation: fadeOutUp 0.5s ease-out forwards;
}
